@import url('https://fonts.googleleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

.logo {
    color: black;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
     
}

body {
    width: 100%;
    height: 100vh;
}

#car {
    display: flex;
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    margin-right: 50px;
    height: 80vh;
    margin-top: -2%;
    position: sticky;
    top: 0;
    left: 0;
}

.container .image{
    display: none;
}

.container .image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    overflow: hidden;
}

.container .button {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.container .button a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: center;
    cursor: pointer;
    color: black;
    background-color: rgba(218, 218, 218, 0.651);
    font-size: 20px;
    user-select: none;
}

.container .button .prev {
    margin-left: 8px;
    border-radius: 5px ;
}

.container .button .next {
    border-radius: 5px;
    margin-right: 8px;
}

.details {
    padding-top: 70px;
    padding-right: 40px;
    align-items: center;
    text-align: center;
}

.details .model {
    font-family: var(--tds-font-family--combined);
    font-weight: 550;
    text-transform: var(--tds-heading--text-transform);
    letter-spacing: var(--tds-heading--letter-spacing);
    color: var(--tds-heading--color);
    font-size: 40px;
}

.details .delivery {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-weight: 100;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.details .mph {
    display: flex;
    padding-top: 30px;
    font-size: 32px;
    padding-left: 30px;
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
}

.details .mph span {
    font-size: 12px;
}

.details .mph .first {
    padding: 10px 10px 10px 10px;
}

.details .mph .second {
    padding: 10px 10px 10px 10px;
}

.details .mph .third {
    padding: 10px 10px 10px 10px;
}

.details .range {
    color: rgb(88, 88, 88);
    display: flex;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 12px;
    text-decoration: none;
}

.details .range .one {
    padding: 0 5px 10px 15px;
}

.details .range .two {
    padding: 0 15px 10px 15px;
}

.details .range .three {
    padding: 0 15px 10px 15px;
}

.details .wheel-drive {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 30px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.details .btn {
    font-family: var(--tds-font-family--combined);
    font-weight: 550;
    text-transform: var(--tds-heading--text-transform);
    letter-spacing: var(--tds-heading--letter-spacing);
    margin-left: -10%;
    padding: 15px 30px 15px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border-width: 2px 1px 1px 2px;
}

.details .btn:hover {
    border-width: 3px 3px 3px 3px;
    border-color: rgb(81, 81, 196);
}

.details .btn span {
    padding-left: 150px;
}

.details .paint {
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
}

.paint input {
    display: flex;
    min-width: 300px;
    line-height: 1.5;
    border-radius: 6px;
    width: 30%;
    border:1px solid #ccc;
    padding:5px 10px;
    font-size: 14px;
    text-transform: none;
    border-radius: 20px;
  }

  .count {
    display: flex;
    font-size: 16px;
    font-size: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; 
    min-width: 20px;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
  }

  .count #country {
    width: 150px;
    line-height: 2;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    border:none;
  }




.details .img {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.details .charging {
    padding-bottom: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.details .icon {
    font-size: 24px;
    color: rgb(81, 81, 255);
}

.details .order-model{
    padding-top: 50px;
    font-family: var(--tds-font-family--combined);
    font-weight: 550;
    text-transform: var(--tds-heading--text-transform);
    letter-spacing: var(--tds-heading--letter-spacing);
    color: var(--tds-heading--color);
    font-size: 30px;
}

.details .payment {
    font-family: var(--tds-font-family--combined);
    font-weight: 550;
    margin-bottom: 80px;
    margin-top: 40px;
    font-size: 15px;
    padding: 14px 60px 15px 60px;
    cursor: pointer;
    background-color: rgb(81, 81, 255);
    border-radius: 4px;
    border: none;
    color: white;
    transition: 0.3s ease;
}

.details .payment:hover {
    background-color: rgb(52, 52, 161);
}

@media (max-width:799px) {
    #car {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #car .container {
        width: 100%;
        margin-right: 0px;
    }

    .container .image {
        margin-bottom: -25%;
    }

    .container .button {
        top: 30%;
    }

    .container .button a {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: center;
        cursor: pointer;
        color: black;
        background-color: rgba(218, 218, 218, 0.651);
        font-size: 16px;
        user-select: none;
    }

}

@media (max-width:477px) {

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .container .button {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .details {
        padding-left: 30px;
        margin-top: -80%;
        align-items: center;
        text-align: center;
    }

    #car {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #car .container {
        width: 100%;
        margin-right: 0px;
    }

    .container .image {
        margin-bottom: -25%;
    }

    .container .button a {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: center;
        cursor: pointer;
        color: black;
        background-color: rgba(218, 218, 218, 0.651);
        font-size: 16px;
        user-select: none;
    }

}

@media (max-width:428px) {

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .container .button {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .details {
        padding-left: 30px;
        margin-top: -100%;
        align-items: center;
        text-align: center;
    }

    #car {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #car .container {
        width: 100%;
        margin-right: 0px;
    }

    .container .image {
        margin-bottom: -25%;
    }

    .container .button a {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        vertical-align: center;
        cursor: pointer;
        color: black;
        background-color: rgba(218, 218, 218, 0.651);
        font-size: 16px;
        user-select: none;
    }

}

